{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Cotización — Lusso Travel</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">

  <style>
    html, body {
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>

  {% include "cotizaciones/bloques/cotizacion_portada.html" %}
  {% include "cotizaciones/bloques/cotizacion_organizamos.html" %}
  {% include "cotizaciones/bloques/cotizacion_despertar.html" %}
  {% include "cotizaciones/bloques/cotizacion_bienvenidos.html" %}
  {% include "cotizaciones/bloques/cotizacion_viajesonado.html" %}
  {% include "cotizaciones/bloques/cotizacion_artevivir.html" %}
  {% include "cotizaciones/bloques/cotizacion_hotel.html" %}
  {% include "cotizaciones/bloques/cotizacion_vuelos.html" %}
  {% include "cotizaciones/bloques/cotizacion_experiencia.html" %}
  {% include "cotizaciones/bloques/cotizacion_inversion.html" %}
  {% include "cotizaciones/bloques/cotizacion_creamos.html" %}
  {% include "cotizaciones/bloques/cotizacion_sobrenosotros.html" %}
  {% include "cotizaciones/bloques/cotizacion_recuerdo.html" %}
  {% include "cotizaciones/bloques/cotizacion_buenviaje.html" %}

</body>
</html>